:host {
  /deep/ .mat-input-element, /deep/ .mat-select-value {
    font-size: 13px;
  }

  /deep/ .mat-form-field {
    padding: 0 !important;
    margin: 0 !important;
    max-height: 50px;
    min-height: 0;
  }

  form {
    margin-bottom: 50px;
  }

  div {
    padding: 0.5em;
  }

  .export {
    position: absolute;
    bottom: 10px;
  }

  span.prefix {
    font-size: 13px;
    opacity: 0.5;
    margin-right: 6px;
  }

  span.suffix {
    font-size: 15px;
    opacity: 0.5;
    margin-right: 7px;
  }

  .nav-content {
    padding: 8px;
  }

  .form-field {
    width: 95%;
    padding: 0;
    margin: 0;
  }

  .form-field-half {
    width: 47.5%;
    padding: 0;
    margin: 0;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(45,45,45,0.7);
    width: 100%;
    height: 20px;
  }
}



