$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~font-awesome/scss/font-awesome';
@import '~@angular/material/theming';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import 'app/app-theme';
@import 'app/tombolo-theme/tombolo-theme';
@import 'app/dialogs/dialog-theme.scss';

@include mat-core();

// Define theme

$tombolo-darkblue: (
  50: #efebe9,
  100: #d7ccc8,
  200: #bcaaa4,
  300: #a1887f,
  400: #8d6e63,
  500: #12394c,
  600: #6d4c41,
  700: #0e2c3b,
  800: #4e342e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text
  )
);

$tombolo-cyan: (
  50: #efebe9,
  100: #d7ccc8,
  200: #bcaaa4,
  300: #a1887f,
  400: #8d6e63,
  500: #3bcae2,
  600: #6d4c41,
  700: #5d4037,
  800: #4e342e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text
  )
);

$app-primary: mat-palette($tombolo-darkblue);
$app-accent:  mat-palette($tombolo-cyan);
$app-warn:    mat-palette($mat-red);
$dark-theme:  mat-dark-theme($app-primary, $app-accent, $app-warn);
$light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Apply theme to base components
@include angular-material-theme($light-theme);

// Apply tombolo theme
@include tombolo-theme($light-theme);

// Apply dark theme variant to left sidebar
.sidebar-left {
  @include angular-material-theme($dark-theme);
  @include tombolo-theme($dark-theme);
}

html {
    // Disable 'bounce' overscroll on Chrome
    overflow: hidden;
    height: 100%;
}

body {

  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  height: 100%;
  overflow: auto;
  margin: 0;
}


/////////////////////////////////////
// App loader screen

.preloader {
  @include mat-fill();
  background-color: #efefef;
  background-image: url(/assets/images/tombolo_logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 500px;
}

//////////////////////////////////////////
// Global Angular Material style overrides

// Ensure 'hidden' is really hidden
[hidden] { display: none !important;}

.mat-drawer-backdrop {
  display: none !important;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}
