node_modules/
src/
.idea/
.git/
mbtiles/
doc/
client/
docker/

bitbucket-pipelines.yml
*.iml
.DS_Store
.dockerignore
.editorconfig
.gitignore
.jshintrc
jasmine.json
nodemon.json
tsconfig.json
tslint.json
local.toml
