@import '../../node_modules/@angular/material/theming';

$sidebar-width: 220px !default;

@mixin app-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .zoom-button {
    color: white !important;
  }

  .sidebar {
    width: $sidebar-width;
  }

  .mat-nav-list .mat-subheader {
    background-color: mat-color($mat-grey, 900, 0.5);
    padding-left: 18px;
  }

  mat-icon.fa:before {
    position: relative;
    top: 5px;
  }
}
