<mat-sidenav-container [@fadeIn]>

  <mat-sidenav class="sidebar sidebar-left" align="start" mode="side" [opened]="leftBarOpen">
    <router-outlet></router-outlet>
  </mat-sidenav>

  <tombolo-mapbox id="main-map" [mapClass]="mapClass" (mapClick)="onMapClick($event)" style="https://maps.emu-analytics.net:4430/styles/fjord.json"></tombolo-mapbox>

  <mat-sidenav class="sidebar sidebar-right" align="end" mode="over" [opened]="rightBarOpen">
    <router-outlet name="rightBar"></router-outlet>
  </mat-sidenav>

</mat-sidenav-container>


