@import '~@angular/material/theming';

:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mat-sidenav-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

/deep/ .mapboxgl-popup {
  width: 350px;
  height: auto;
  pointer-events: auto !important;
  color: red;
}

/deep/ .mat-table {
  margin-top: 5px;
}

.minzoom-warning {
  position: absolute;
  background-color: black;
  color: white;
  top: 10%;
  left: 50%;
  width: 350px;
  height: 50px;
  padding: 8px;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  opacity: 0.6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease;
}
