<h3 class="sidebar-header">
  Map Filters
</h3>

<div class="sidebar-content">
  <ng-container *ngIf="map">

    <mat-accordion multi="true" displayMode="flat">
      <!-- Map filters -->
      <mat-expansion-panel *ngFor="let filter of filters; let i = index" expanded="true">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <span class="expansion-header-title">Filter</span>
          <div class="button-box">
            <button mat-icon-button class="compressed" (click)="toggleFilterEnabled(filter); $event.stopPropagation()"><mat-icon [svgIcon]="eyeIconForFilter(filter)"></mat-icon></button>
            <button mat-icon-button class="compressed" (click)="deleteFilter(filter); $event.stopPropagation()"><mat-icon svgIcon="trash"></mat-icon></button>
          </div>
        </mat-expansion-panel-header>
        <filter-editor [map]="map" [filter]="filter" (filterChange)="onFilterChange(index, $event)"></filter-editor>
      </mat-expansion-panel>
    </mat-accordion>

  </ng-container>

</div>

<div class="sidebar-footer">

</div>
