<mat-nav-list fxFlex>
  <!-- Metrics -->
  <h3 mat-subheader><mat-icon fontSet="fa" fontIcon="fa-dashboard"></mat-icon>Metrics</h3>
  <mat-radio-group>
    <mat-list-item *ngFor="let m of metrics" (click)="selectMetric(m.id)">
      <mat-radio-button  [value]="m.id" [checked]="selectedMetricId === m.id">{{m.name}}</mat-radio-button>
    </mat-list-item>
  </mat-radio-group>
  <!-- Layers -->
  <h3 mat-subheader><mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>Layers</h3>
  <mat-list-item *ngFor="let l of layers" (click)="toggleLayer(l.id)">
    <mat-checkbox  [value]="l.id" [checked]="l.enabled" >{{l.name}}</mat-checkbox>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list>
<a routerLink="/basemaps" mat-list-item>Jump to Basemap demo</a>
</mat-nav-list>
