<h3 class="sidebar-header">
  Map Editor
</h3>

<div class="sidebar-content">
  <ng-container *ngIf="map && palettes && basemaps">

    <map-metadata-editor [map]="map"></map-metadata-editor>

    <mat-accordion multi="true" displayMode="flat" [dragula]="'dragdrop'" [dragulaOptions]="dragulaOptions">
      <!-- Map layers -->
      <mat-expansion-panel [id]="layer.layerId" *ngFor="let layer of map.dataLayers.slice().reverse()" expanded="true">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <mat-icon svgIcon="grab-handle" class="grab-handle"></mat-icon>
          <mat-icon [svgIcon]="typeIconForLayer(layer)"></mat-icon>
          <span class="expansion-header-title">{{layer.name}}</span>
          <div class="button-box">
            <button mat-icon-button class="compressed" (click)="toggleLayerVisibility(layer); $event.stopPropagation()"><mat-icon [svgIcon]="eyeIconForLayer(layer)"></mat-icon></button>
            <button mat-icon-button class="compressed" (click)="deleteLayer(layer); $event.stopPropagation()"><mat-icon svgIcon="trash"></mat-icon></button>
          </div>
        </mat-expansion-panel-header>
        <map-layer-editor [map]="map" [layer]="layer" [palettes]="palettes" ></map-layer-editor>
      </mat-expansion-panel>

      <!-- Basemap -->
      <mat-expansion-panel id="basemap-panel" expanded="true">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <mat-icon svgIcon="map"></mat-icon>
          <span class="expansion-header-title">Basemap</span>
        </mat-expansion-panel-header>
        <map-basemap-editor [map]="map" [basemaps]="basemaps"></map-basemap-editor>
      </mat-expansion-panel>

    </mat-accordion>

  </ng-container>
</div>

<div class="sidebar-footer">

</div>
