<h3 class="sidebar-header">
  Map Editor
</h3>

<div class="sidebar-content">
  <ng-container *ngIf="map">

    <map-metadata-editor [map]="map"></map-metadata-editor>

    <mat-accordion multi="true" displayMode="flat">
      <!-- Map layers -->
      <mat-expansion-panel *ngFor="let layerId of map.dataLayers" expanded="true">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <mat-icon svgIcon="grab-handle"></mat-icon>
          <mat-icon svgIcon="polygon"></mat-icon>
          <span class="expansion-header-title">Layer Name that is very long</span>
          <div class="button-box">
            <button mat-icon-button class="compressed" (click)="toggleLayerVisibility(layerId); $event.stopPropagation()"><mat-icon svgIcon="eye"></mat-icon></button>
            <button mat-icon-button class="compressed" (click)="deleteLayer($layerId); $event.stopPropagation()"><mat-icon svgIcon="trash"></mat-icon></button>
          </div>
        </mat-expansion-panel-header>
        <map-layer-editor [map]="map" [layerId]="layerId" mode="line"></map-layer-editor>
      </mat-expansion-panel>

      <!-- Basemap -->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
          <mat-icon svgIcon="map"></mat-icon>
          <span class="expansion-header-title">Basemap</span>
        </mat-expansion-panel-header>
        <map-basemap-editor ></map-basemap-editor>
      </mat-expansion-panel>

    </mat-accordion>

  </ng-container>
</div>

<div class="sidebar-footer">

</div>
