@import '../../../../variables';

.number-slider-component {

  position: relative;

  label {
    position: absolute;
  }

  .number-slider-component-wrapper {
    display: flex;
  }

  .mat-slider {
    flex: 1 1;
    padding: 0;
    margin-top: 4px;
  }

  .mat-form-field {
    width: 38px;
  }

  .mat-slider-wrapper {
    left: 0;
  }

  input {
    text-align: right;
  }
}


