.drop-container {
  margin: 16px;
  background: white;
  border-radius: 6px;
  height: 150px;
  box-shadow: 1px 2px 20px rgba(0,0,0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed gray;

  p {
    font-size: 16px;
    font-weight: 400;
    color: gray;

    .upload-button {
      display: inline-block;
      border: none;
      outline: none;
      cursor: pointer;
      color: red;
      input {
        display: none;
      }
    }
  }
}
