

.wizard-page-component {
  display: block;
  width: 100%;
  min-height: 200px;
}

.wizard-button {
  float: right;
}

ul.substeps {

  li.pending {
    color: darkgray;
  }

  li.inprogress {
    color: blue;
  }

  li.done {
    color: green;
  }

  li.error {
    color: red;
  }
}


.full-width {
  width: 100%;
}

mat-form-field {
  width: 95%;
}

.mat-column-id {
  flex: 1 1;
}

.mat-column-type {
  flex: 0 0 120px;
}

.mat-column-name {
  flex: 1 1;
}

.mat-column-description {
  flex: 2 2;
}

.mat-column-unit {
  flex: 0 0 80px;
}

.mat-column-remove {
  flex: 0 0 40px;
}

mat-row.mat-row.ng-star-inserted.removed {
  background-color: rgba(0,0,0,0.2);
  text-decoration: line-through !important;
  font-style: italic;
}
